<div id="page_deletion_modal_prompt" class="modal bg-dark" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <p>¿Estás seguro de que quieres borrar la pagina para siempre?</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal_submit_page_deletion">Sí</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>