{% extends './base.html' %}
{% load staticfiles %}
{% load wiki_templates_extras %}

{% block content %}
<div class="row mt-lg-2 article_header">
	<div class="col text-center font-weight-bold font-italic">
		<h2>{{ page_object.title }}</h2>
		<hr>
	</div>	
</div>
<div class=" row mt-lg-2">
	<div class="col">
	{% autoescape off %}
	{{page_object.html}}
	{% endautoescape %}
	</div>
</div>
<hr/>
<div class="row mt-lg-2">
	<div class="col">
		<p><span class="font-weight-bold">Created:</span> {{page_object.created}}</p>
		<p><span class="font-weight-bold">Last modified:</span> {{page_object.last_modified}}</p>
	</div>	
</div>
<hr/>
{% if page_object.tag_set.all.count > 0 %}
<div class="row mt-lg-2">
	<div class="col">
		<p>
			<span class="font-weight-bold">Tags:</span>
			{{ page_object.tag_set|tags_to_string }}
		</p>
	</div>
</div>
<hr/>
{% endif %}
<div class=" row mt-lg-2">
	<div class="col-sm-5">
		<a class="badge badge-primary p-2 link-button-normal" href="{% url 'page:edit' page_id=page_object.id %}"><img src="{% static 'page/images/pencil.png' %}"/> Edit page</a>
	</div>
	<div class="col-sm-5">
		<a class="badge badge-secondary p-2 link-button-normal" href="{% url 'page:index' %}"><img src="{% static 'page/images/back_arrow.png' %}"/> Back to main page</a>
	</div>
	<div class="col-sm-2">
		<button class="btn btn-danger p-2 link-button-delete" data-toggle="modal" data-target="#page_deletion_modal_prompt"><img src="{% static 'page/images/delete_symbol.png' %}"/>Delete page</button>
	</div>
</div>
{% endblock %}