{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="{% static 'page/js/jquery-3.3.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'page/js/jquery-ui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'page/custom_js/index_page.js' %}"></script>
		<script type="text/javascript" src="{% static 'page/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'page/custom_js/create_page_script.js' %}"></script>
		<script src="{% static 'page/js/jquery.ui.widget.js' %}"></script>
		<script src="{% static 'page/js/jquery.iframe-transport.js' %}"></script>
		<script src="{% static 'page/js/jquery.fileupload.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'page/css/jquery-ui.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'page/css/custom.css' %}">
		<link href="{% static 'page/css/bootstrap.min.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid" id="base_container">
			<div class="content">
				<div class="row" id="base_background_image_row">
					<div class="col">
						<img id="base_background_image" src="{% static 'page/images/base_theme.jpg' %}" />
					</div>
				</div>
				<div id="content_container" class="p-4">
					<!-- Should always start with a <div class="row"> -->
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
