{% extends './base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
	<div class="col-sm">
		<div id="greeting_header"><h1>{{ greeting }}</h1></div>
	</div>
</div>

<div class="row mt-lg-3">
	<div class="col-sm">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="">Search by title:</span>
			</div>
			<input type="text" name="page_title_search" id="page_title_search" class="form-control" />
			<div class="input-group-prepend">
				<span class="input-group-text" id="">Search by tag:</span>
			</div>
			<input type="text" name="page_tag_search" id="page_tag_search" class="form-control" />
		</div>
	</div>
</div>

<div class="row mt-lg-3">
	<div class="col-sm">
		{% if pages is not None %}
		<div class="list-group">
			<div id="page_list">
				{% include "./page_list.html" %}
			</div>
		</div>
		{% endif %}
	</div>
</div>

<div class="row mt-lg-3">
	<div class="col-sm" id="add_new_page_button">
		<a href="{% url 'page:create' %}" class="badge badge-info">
			<img src="{% static 'page/images/add_page.png' %}" />
			Add new page
		</a>
	</div>
</div>

{% endblock %}