<form method="POST" action="{% url 'page:create' %}">
	{% csrf_token %}
	{{page_form.title.label}} : &nbsp;
	{{page_form.title}}
	<br/>
	<br/>
	{{page_form.html}}
	<br/>
	{{page_form.tags.label}} : &nbsp;
	{{page_form.tags}} (Write tags as a single string divided by commas)
	<br/>
	<br/>
	<br/>
	<input type="submit" name="submit"/>
</form>

<br/>
<a href="{% url 'page:index' %}">Back to main page</a>
<br/>

{% if form_errors is not None %}
	{% for field in page_form %}
		{% for error in field.errors %}
			{{ error }}
		{% endfor %}
	{% endfor %}
{% endif %}