{% extends './base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row mt-lg-2 article_header">
	<div class="col text-center font-weight-bold font-italic">
		<h2>{{ page_object.title }}</h2>
		<hr>
	</div>	
</div>
<div class=" row mt-lg-2 article_header">
	<div class="col">
	{% autoescape off %}
	{{page_object.html}}
	{% endautoescape %}
	</div>
</div>
<hr/>
<div class="row mt-lg-2">
	<div class="col">
		<b>Created:</b> {{page_object.created}}
	</div>	
	<div class="col">
		<b>Last modified:</b> {{page_object.last_modified}}
	</div>
</div>
<hr/>
{% if page_object.tag_set.all.count %}
<div class="row mt-lg-2">
	<div class="col">
		Tags: {% for tag in page_object.tag_set.all %} {{ tag.name }} {% endfor %}
	</div>
</div>
<hr/>
{% endif %}
<div class=" row mt-lg-2">
	<div class="col sm-1">
		<a class="badge badge-primary p-2" href="{% url 'page:edit' page_id=page_object.id %}"><img src="{% static 'page/images/pencil.png' %}"/> Edit this page</a>
		<a class="badge badge-secondary p-2" href="{% url 'page:index' %}"><img src="{% static 'page/images/back_arrow.png' %}"/> Back to main page</a>
		<a class="badge badge-danger p-2" href="{% url 'page:delete' page_id=page_object.id %}"><img src="{% static 'page/images/delete_symbol.png' %}"/> Delete page</a>
	</div>	
</div>
{% endblock %}